@font-face {
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/Inter-Regular.otf) format("opentype"), url(fonts/Inter-Regular.woff) format("woff"), url(fonts/Inter-Regular.woff2) format("woff2")
}

@font-face {
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/Inter-Bold.otf) format("opentype"), url(fonts/Inter-Bold.woff) format("woff"), url(fonts/Inter-Bold.woff2) format("woff2")
}

@font-face {
	font-family: Inter-Medium;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/Inter-Medium.otf) format("opentype"), url(fonts/Inter-Medium.woff) format("woff"), url(fonts/Inter-Medium.woff2) format("woff2")
}

@font-face {
	font-family: Inter-ExtraLight;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/Inter-ExtraLight-BETA.otf) format("opentype"), url(fonts/Inter-ExtraLight-BETA.woff) format("woff"), url(fonts/Inter-ExtraLight-BETA.woff2) format("woff2")
}

@font-face {
	font-family: Inter-Black;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Inter-Black.otf) format("opentype"), url(/fonts/Inter-Black.woff) format("woff"), url(/fonts/Inter-Black.woff2) format("woff2")
}

@font-face {
	font-family: Inter-Light;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Inter-Light-BETA.otf) format("opentype"), url(/fonts/Inter-Light-BETA.woff) format("woff"), url(/fonts/Inter-Light-BETA.woff2) format("woff2")
}

@font-face {
	font-family: Inter-Light;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Inter-Light-BETA.otf) format("opentype"), url(/fonts/Inter-Light-BETA.woff) format("woff"), url(/fonts/Inter-Light-BETA.woff2) format("woff2")
}

@font-face {
	font-family: Inter-LightItalic;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Inter-LightItalic-BETA.otf) format("opentype"), url(/fonts/Inter-LightItalic-BETA.woff) format("woff"), url(/fonts/nter-LightItalic-BETA.woff2) format("woff2")
}

@font-face {
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Montserrat-Regular.ttf) format("opentype")
}

@font-face {
	font-family: Montserrat-Thin;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/Montserrat-Thin.ttf) format("opentype")
}


* {
	box-sizing: border-box;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
}

ul,
li {
	list-style: none;
}

div.container {
	/*mc-grid-row: true;*/
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	position: fixed;
	/* height: 100%;*/
}

div.box {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 0;
	width: 50%;
	min-width: 300px;

}

/*.container{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}*/

.col-left {
	background: #1A3FDE;
	box-shadow: 16px 0px 26px rgba(0, 0, 0, 0.3);
	width: 50%;
	height: auto;

}

.col-right {
	width: 50%;
	height: auto;
}

.col-right img {
    background-image: url('/images/Marie_Curie_revised.png');
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    height: 100%;
	
}

.ls-logo-wrap {
	width: 229px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 1;
	position: relative;
	left: 126px;
	top: 75px;

}

.ls-logo-wrap a {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0px;
	max-width: 100%;
	width: auto;
	max-height: 45px;
	height: auto;
	background-size: cover;
	background-image: url(../images/LifeSphere_logo.svg);
}

.ls-logo-wrap a {
	width: 100%;
}

.ls-container-wrap .ls-main:before {
	content: '';
	width: 21px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	background: #34E4C0;
}

.ls-container-wrap {
	position: relative;
	left: 126px;
}

label {
	display: inline-block;
	max-width: 100%;
}

.ls-title {
	margin-bottom: 0;
	letter-spacing: 0.35px;
	font-family: 'Inter-Regular';
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 60px;
	color: #FFFFFF;
}

.ls-container-wrap .ls-main:after {
	clear: both;
	display: block;
	content: '';
}

.ls-main {
	margin-left: 43px;
	width: 547px;
	/*height: 120px;*/
}

.ls-content-wrap {
	position: relative;
	left: 126px;
	margin-top: 175px;

}

.ls-content-main {
	width: 586px;
	/*height: 213px;*/
}

.ls-content-title {
	font-family: 'Inter-Regular';
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.005em;
	color: #FFFFFF;
}

.ls-container-wrap {
	margin-top: 162px;
}

.author {
	font-family: 'Inter-Regular';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 33px;
	color: #FFFFFF;
	margin-top: 48px;

}


/*@media only screen and (min-width: 638px) and (max-width: 1334px) {
	.ls-title {
		font-size: 40px;
	}

	.ls-content-title {
		font-size: 32px;
		width: 505px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 1251px) {
	.ls-title {
		font-size: 36px;
	}

	.ls-content-title {
		font-size: 32px;
		width: 495px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 1178px) {

	.ls-content-title {
		font-size: 30px;
		width: 470px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 1171px) {
	.ls-title {
		font-size: 34px;
	}

	.ls-content-title {
		font-size: 30px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 1130px) {
	.ls-title {
		font-size: 31px;
	}

	.ls-content-title {
		font-size: 31px;
		width: 420px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 1056px) {
	.ls-title {
		font-size: 28px;
		width: 500px;
	}

	.ls-content-title {
		font-size: 28px;
		width: 379px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 994px) {
	.ls-title {
		font-size: 24px;
		width: 430px;
	}

	.ls-content-title {
		font-size: 24px;
		width: 379px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 987px) {
	.ls-title {
		font-size: 26px;
		width: 465px;
	}

	.ls-content-title {
		font-size: 24px;
		width: 382px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 942px) {
	.ls-title {
		font-size: 22px;
		width: 390px;
	}

	.ls-content-title {
		font-size: 20px;
		width: 318px;
	}
}

@media only screen and (min-width: 638px) and (max-width: 838px) {
	.ls-title {
		font-size: 21px;
		width: 350px;
		line-height: 50px;
	}

	.ls-content-title {
		font-size: 20px;
		width: 295px;
	}
}*/

/*@media only screen and (min-width: 638px) and (max-width: 811px) {

	.ls-title {
		font-weight: 500;
		font-size: 26px;
		line-height: 32px;
		width: 248px;
	}

	.ls-container-wrap .ls-main:before {
		width: 12px;
		height: 64px;
	}

	.ls-container-wrap {
		left: 40px;
	}

	.ls-logo-wrap {
		left: 40px;
	}

	.ls-main {
		margin-left: 24px;
	}

	.ls-content-wrap {
		left: 40px;
		margin-top: 43px;
	}

	.ls-content-title {
		font-size: 18px;
		width: 280px;
		line-height: 28px;
	}

	.author {
		margin-top: 16px;
		font-size: 18px;
	}


}*/



@media only screen and (min-width: 375px) and (max-width: 760px) {
	.ls-title {
		font-weight: 500;
		font-size: 26px;
		line-height: 32px;
		width: 248px;
	}
    .ls-logo-wrap {
		left: 40px;
        top:52px;
	}

	.ls-container-wrap .ls-main:before {
		width: 12px;
		height: 64px;
	}

	.ls-container-wrap {
		left: 40px;
        margin-top:60px;
	}

    .ls-logo-wrap a {        
        background-image: url(../images/LifeSphere_logo_mobile.svg);
    }
    .ls-logo-wrap {
        width: 133px;
        height: 24px;
    }

	.ls-main {
		margin-left: 24px;
	}

	.ls-content-wrap {
		left: 40px;
		margin-top: 60px;
	}

	.ls-content-title {
		font-size: 18px;
		width: 255px;
		line-height: 28px;
	}

	.author {
		margin-top: 16px;
		font-size: 18px;
	}

}
.mobile{
    display: none !important;
}
.small_desk{
    display: none !important; 
}
@media only screen and (min-width: 375px) and (max-width: 599px) {
    .mobile{
        display: inline-block !important;        
    }
    .desktop{
        display: none !important;
    }
    .small_desk{
        display: none !important; 
    }
	
}  






/*@media only screen and (min-width: 638px) and (max-width: 760px) {
	.ls-title{
		font-size: 16px;
		width: 285px;
	}
	.ls-content-title{
		font-size:30px;
	}	
}
@media only screen and (min-width: 638px) and (max-width: 709px) {
	.ls-title{
		font-size: 15px;
		width: 260px;
		line-height: 50px;
	}
	.ls-content-title{
		font-size:30px;
	}	
}*/


@media only screen and (min-width: 761px) and (max-width: 942px) {

	.ls-title {
		font-size: 30px;
		line-height: 36px;		
        width:223px;
	}	

    .ls-logo-wrap {
		left: 56px;
        top:43px;
	}

	.ls-container-wrap {
		left: 56px;
        margin-top:67px;
	}
    .ls-container-wrap .ls-main:before {
		width: 14px;
		height: 108px;
	}
	.ls-main {
		margin-left: 24px;
	}

	.ls-content-wrap {
		left: 56px;
		margin-top: 67px;
	}

	.ls-content-title {
		font-size: 24px;
		line-height: 29px;
        width:316px;
	}

	.author {
		margin-top: 24px;
		font-size: 18px;
        line-height: 22px;
	}
    .mobile{
        display: none !important;        
    }
    .desktop{
        display: none !important;
    }
    .small_desk{
        display: inline-block !important; 
    }

}


@media only screen and (min-width: 943px) and (max-width: 1056px) {
    .ls-logo-wrap {    
        left: 56px;        
    }
    .ls-container-wrap {
        position: relative;
        left: 56px;
        margin-top: 108px;
    }

    .ls-title {        
        font-size: 38px;
        width:422px;
    }    

    .ls-content-wrap {
        position: relative;
        left: 56px;
        margin-top: 85px;
    }

    .ls-content-title {
        width: 405px;
        font-size: 32px;
    }
}   

@media only screen and (min-width: 1057px) and (max-width: 1130px) {
    .ls-logo-wrap {
        left: 75px
    }
    .ls-container-wrap {
        margin-top: 125px;
        left: 75px;
    }   

    .ls-content-wrap {    
        left: 75px;
        margin-top: 105px;
    }

    .ls-content-title {    
        font-size: 32px;
        width: 455px;
    }  

    .ls-title {
        width: 435px;
        font-size: 40px;
    }
}

@media only screen and (min-width: 1131px) and (max-width: 1178px) {
    .ls-title {    
        width: 450px;
    }
    .ls-logo-wrap{
        left:95px;
    }
    .ls-content-title {  
        width: 460px;
    }  
    .ls-content-wrap{    
        margin-top: 150px;
        left:95px;
    }
    .ls-container-wrap{
        left:95px;
    }
}    

@media only screen and (min-width: 1179px) and (max-width: 1251px) {
 
    .ls-title {
        width: 485px;
    }
    .ls-logo-wrap {
        left: 90px;
    }   
    .ls-content-wrap {
        left: 90px;
    }     
    .ls-content-title{
        width:510px;
    }
    .ls-container-wrap{
        left: 90px;
    }
}
@media only screen and (min-width: 1252px) and (max-width: 1334px) {
    .ls-logo-wrap{
        left: 75px;
    }
    .ls-container-wrap {
        left: 75px;
    }
    .ls-content-wrap {
        left: 75px;
    }
    .ls-content-title{
        width: 530px; 
    }

}    

@media only screen and (min-width: 1335px) and (max-width: 1397px) {
    .ls-logo-wrap{
        left:100px;
    }
    .ls-container-wrap {
        left:100px;
    }
    .ls-content-wrap {
        left:100px; 
    }
    .ls-content-title{
        width: 530px;
    }

}  